@model LearnerBikes.Models.BikeListViewModel

<link rel="stylesheet" href="~/css/bike.css" />

<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="title-wrapper">
            <div class="title">
                <h1 class="bike-title">@Model.IndividualBike.Make @Model.IndividualBike.Model (@Model.IndividualBike.MinYear-@Model.IndividualBike.MaxYear)</h1>               
            </div>           
        </div>

        <div class="image-wrapper">
            <div class="image">
                <img class="bike-image" src="@Model.IndividualBike.ImageUrl" />
            </div>
        </div>

        <div class="specs-wrapper">
            <h2>Key Specs</h2>
            <div class="specs">
                <h3>Power: @Model.IndividualBike.Power</h3>
                <h3>Dry weight: @Model.IndividualBike.DryWeight kg</h3>
                <h3>Wet weight: @Model.IndividualBike.WetWeight kg</h3>
                <h3>Fuel capacity: @Model.IndividualBike.TankCapacity L</h3>
                <h3>Seat height: @Model.IndividualBike.SeatHeight</h3>
            </div>           
        </div>

        
    </div>
</div>
