@model LearnerBikes.Models.BikeListViewModel

<link rel="stylesheet" href="~/css/bikelist.css" />

<div class="content-wrapper">
    <div class="filter-section-wrapper">
            <div class="filter-icon-wrapper">
                <img class="filter-icon" src="~/images/filtericon.png" onclick="toggleFilter('filter')" />
            </div>          

        <div class="filter-wrapper" id="filter">

            <form id="bikeFilterForm" onchange="applyFilters()" asp-action="Index" asp-controller="BikeList">

                <div class="sort-filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Sort by:</p>
                        <select class="select-dropdown sort-dropdown" asp-for="BikeFilters.SortOrder">
                            <option selected="selected" value="[A-Z]">Name (A-Z)</option>
                            <option value="[Z-A]">Name (Z-A)</option>
                        </select>
                    </div>
                </div>

                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title" id="make-title">Make</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Make">
                            <option selected="selected" value="Any Make">Make (Any)</option>
                            <option value="Aprilia">Aprilia</option>
                            <option value="Honda">Honda</option>
                            <option value="KTM">KTM</option>
                            <option value="Yamaha">Yamaha</option>
                        </select>
                    </div>
                </div>

                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Age</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Age">
                            <option selected="selected" value="0">Up To (Any)</option>
                            <option value="1">Up to 1 year</option>
                            <option value="2">Up to 2 years</option>
                            <option value="3">Up to 3 years</option>
                            <option value="4">Up to 4 years</option>
                            <option value="5">Up to 5 years</option>
                            <option value="6">Over 5 years</option>
                        </select>
                    </div>
                </div>

                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Bike Type</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Type">
                            <option selected="selected" value="Any Type">Type (Any)</option>
                            <option value="Supersport">Supersport</option>
                            <option value="Naked">Naked</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Cruiser">Cruiser</option>
                        </select>
                    </div>
                </div>

                <div class="filter-reset">
                    <br />
                    <a asp-controller="BikeList" asp-action="Index" onclick="resetFilters()">↻ Reset</a>
                </div>

            </form>
        </div>
    </div>

    <div class="bike-list-wrapper">
        @if (Model.Bikes.Count() > 0)
        {
            <div class="card-wrapper">
                @foreach (var bike in Model.PaginatedBikes())
                {
                <a asp-controller="BikeList" asp-action="Bike" asp-route-id="@bike.Id">
                    <div class="bike-card">
                        <img class="bike-image" src="@bike.ImageUrl" />
                        <h4>@bike.Make @bike.Model</h4>
                    </div>
                </a>
                }
            </div>
        }
        else
        {
            <p>Could not find any bikes.</p>
        }

    </div>

    @{
        ViewData["Title"] = "Browse";
        var prevDisabled = !Model.hasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

<div class="bottom-bar">
    <div class="pagination-wrapper">

        <div class="full-bottom-bar">
            <ul class="pagination">
                <li class="next-prev"><a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" class="next-prev-link @prevDisabled">Previous</a></li>
                @for (int i = Model.PageCount(7, 5, 3, 7).Item1; i <= Model.PageCount(7, 5, 3, 7).Item2; i++)
                {
                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>

                }
                <li class="next-prev"><a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" class="next-prev-link @nextDisabled">Next</a></li>
            </ul>
        </div>

        <div class="mobile-bottom-bar">
            <ul class="pagination">
                <li class="next-prev"><a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })" class="next-prev-link @prevDisabled">&#8249;</a></li>
                @for (int i = Model.PageCount(5, 4, 2, 5).Item1; i <= Model.PageCount(5, 4, 2, 5).Item2; i++)
                {
                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>

                }
                <li class="next-prev"><a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })" class="next-prev-link @nextDisabled">&#8250;</a></li>
            </ul>
        </div>

    </div>

    <div class="scroll-top-wrapper">
        <button id="scrollToTopBtn"><img src="~/images/up-arrow.png" class="up-arrow-icon" /></button>
    </div>


</div>

</div>